@page
@model IndexModel
@{
    ViewData["Title"] = "SmartLights";
}

<div id="map"></div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly"
    defer
></script>
<script type="text/javascript">


    // Initialize and add the map
    function initMap() {
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 18,
        center: { lat: -34.56521, lng: -58.4384375 },
      });
            
      //Adding traffic layer
      const trafficLayer = new google.maps.TrafficLayer();
      trafficLayer.setMap(map)

      //Drawing road traffic line
      const line = [
        { lat: -34.56521, lng: -58.4384375 },
        { lat: -34.5660928, lng: -58.4394083}
      ];
      const lines = new google.maps.Polyline({
        path: line,
        geodesic: true,
        strokeColor: "#FFDD00",
        strokeOpacity: .7,
        strokeWeight: 6,
      });
      lines.setMap(map);

      $.getJSON( "https://localhost:7261/api/TrafficData/Last/10", function( data ) {
        var circles = [];
        $.each( data, function( key, val ) {

            var color = "#00FF00";
            if(val.RoadA_EW > 10 || val.RoadA_WE > 10 || val.RoadB_NS > 10 || val.RoadB_SN > 10)
                color = "#FFFF00";
            if(val.RoadA_EW > 20 || val.RoadA_WE > 20 || val.RoadB_NS > 20 || val.RoadB_SN > 20)
                color = "#FF0000";

            circles.push(new google.maps.Circle({
                strokeColor: color,
                strokeOpacity: 0.5,
                strokeWeight: 0.5,
                fillColor: color,
                fillOpacity: 0.35,
                map,
                center: { lat: val.Latitude, lng: val.Longitude },
                radius: 10,
            }));
        });
      });

      window.initMap = initMap;
    }
    
</script>